

.overlay {

  background: radial-gradient(#0b2f38cc, #0a252bcc);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;

  z-index: 150;


  background-color: #030c0e90;
  backdrop-filter: blur(10px);

  overflow: auto;


  display: flex;
  align-items: center;
  justify-content: center;
}