.UserItem {
  display: flex;
  align-items: center;
  justify-content: space-between;  /* This ensures space between name and points */
  gap: 10px;
  width: 100%;
  height: 40px;
  background-color: var(--dark);
  padding: var(--padding-2);
}

.pos {
  width: 30px;
  color: inherit;
  font-family: lemonM;
}

.username {
  flex-grow: 1;
  color: inherit;
  text-align: left; 
}

.points {
  color: inherit;
  text-align: right; 
}


.userList li:nth-child(1) {
  background-color: #FFD700;
  color: var(--dark);
}

.userList li:nth-child(2) {
  background-color: #C0C0C0;
  color: var(--dark);
}

.userList li:nth-child(3) {
  background-color: #cd7f32;
  color: var(--dark);
}

.userList li p{
  color: inherit;
}